include CHANGELOG.md
include CITATION.cff
include CONTRIBUTING.md
include SECURITY.md
recursive-include docs *.md
recursive-include examples *.ipynb *.py
recursive-include benchmarks *.py *.csv *.md *.svg
